.layout-2-column-grid {
    display: grid;
    gap: 6.25rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 6.25rem;
}

.enjoy-content {
    border-radius: 2.5rem;
    background-image: url('../../../assets/images/img-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 50%;
    min-height: 40.25rem;
}

.enjoy-content__column {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.menu-button {
    display: flex;
    transition: all 0.5s ease-out;
    cursor: pointer;
    color: rgb(var(--color-text-dark));
}

.menu-button__icon {
    min-width: 1.25rem;
    min-height: 1.25rem;
    opacity: 0;
    vertical-align: baseline;
}

.menu-button__text, .menu-button__icon {
    transition: all 0.3s ease-in;
}

@media (hover: hover) {
    .menu-button:hover .menu-button__icon{
        opacity: 1;
    }

    .menu-button:hover .menu-button__text {
        transform: translateX(-0.75rem);
    }
}