.favorite-heading {
    text-align: center;
}

.slider-favorite {
    display: flex;
    gap: 2.5rem;
    margin: 2.5rem 0;
    justify-content: space-between;
    align-items: center;
}

.slider-wrapper{
    display: flex;

}

.slider-favorite__content {
    display: flex;
    gap: 1.25rem;
    max-width: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    overflow-x: hidden;
}

.slider-item {
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-item__description {
    max-width: 45ch;
}

.slider-item__image {
    width: 30rem;
    height: 30rem;
}

.slider-item__about {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3.75rem;
    min-width: 3.75rem;
    border: 1px solid rgb(var(--color-border-dark));
    border-radius: 999px;
    stroke: rgb(var(--color-text-dark));
    background-color: transparent;
    transition: all 0.5s ease-out;
    margin: 0.25rem;
}

.slider-bars {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
}

.select-bar {
    display: block;
    width: 2.5rem;
    height: 0.25rem;
    border-radius: 999px;
    background-color: rgb(var(--color-border-light));
}

.select-bar_active {
    position: relative;
}

.select-bar_active::after {
    position: absolute;
    content: "";
    display: block;
    width: 0%;
    height: 0.25rem;
    border-radius: 999px;
    background-color: rgb(var(--color-border-dark));
    animation: 6s linear slider-active-progress;
}

@keyframes slider-active-progress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.slider-list {
    display: flex;
    overflow-x: auto;
    transition: translate 0.5s, left 0.1s linear;
}

.slider-list__item {
    user-select: none;
}

@media (hover: hover) {
    .icon_arrow:hover {
        border-color: rgb(var(--color-bg-container));
        background-color: rgb(var(--color-bg-container));
        stroke: rgb(var(--color-text-light));
    }
}

/* Tablet */
@media screen and (max-width: 1024px) {
    .icon_arrow {
        margin: 0;
        transition: all 0.5s ease-out;
    }
}

/* Mobile */
@media screen and (max-width: 764px) {
    .slider-item__image {
        width: 21.75rem;
        height: 21.75rem;
        transition: all 0.5s ease-out;
    }

    .slider-favorite__content {
        max-width: 22rem;
        transition: all 0.5s ease-out;
    }

    .slider-wrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 640px) {
    .slider-favorite__control {
        display: none;
        transition: all 0.5s ease-out;
    }

    .slider-favorite__content {
        max-width: 21.75rem;
        transition: all 0.5s ease-out;
    }

    .slider-wrapper {
        justify-content: center;
        min-width: 100%;
    }
}