.mobile-content {
    display: flex;
    gap: 6.25rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.25rem;
}

.mobile-content__column {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.image-mobile-screen {
    display: flex;
    width: 39.375rem;
    height: 39.375rem;
}

.image-mobile-screen__img {
    display: flex;
    width: 100%;
    height: 100%;
}

.download-buttons {
    display: flex;
    gap: 1.25rem;
}

.app-button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: rgb(var(--color-text-dark));
    fill: rgb(var(--color-text-dark));
    background-color: transparent;
    transition: all 0.5s ease-in;
    padding: calc(0.75em - 1px) calc(1.25em - 1px);
}

.app-button__icon {
    width: 2.25rem;
    height: 2.25rem;
}

.app-button__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media (hover: hover) {
    .app-button:hover {
        color: rgb(var(--color-text-light));
        fill: rgb(var(--color-text-light));
        background-color: rgb(var(--color-bg-container));
    }
}

/* Tablet, Desktop */
@media screen and (max-width: 1240px) {
    .mobile-content {
        flex-direction: column;
        transition: all 0.5s ease-out;
    }

    .mobile-content__column {
        max-width: 43rem;
        justify-content: center;
    }
}

/* Mobile */
@media screen and (max-width: 640px) {
    .mobile-content {
        gap: 2.5rem;
        transition: all 0.5s ease-out;
    }

    .mobile-content__column {
        max-width: 30rem;
        justify-content: center;
    }

    .image-mobile-screen {
        width: 21.75rem;
        height: 21.75rem;
        transition: all 0.5s ease-out;
    }

    .download-buttons {
        flex-direction: column;
        transition: all 0.5s ease-out;
    }
}