*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --color-bg-body: 225 212 201;
    --color-bg-container: 102 95 85;
    --color-bg-backdrop: 64 63 61;
    --color-bg-backdrop-alpha: 64 63 61 / 0.80;
    --color-text-dark: 64 63 61;
    --color-text-light: 225 212 201;
    --color-text-accent: 176 144 122;
    --color-border-light: 193 182 173;
    --color-border-dark: 102 95 85;
}

html {
    font-size: 16px;
    width: 100vw;
    max-width: 90rem;
    margin: auto;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', 'Verdana', sans-serif;
    background-color: rgb(var(--color-bg-body));
    color: rgb(var(--color-text-dark));
    padding: 1.25rem 0 2.5rem 0;
}

.aria-label_hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

img {
    display: block;
}

.container {
    margin: 0 2.5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* Mobile */
@media screen and (max-width: 642px) {
    .container {
        margin: 0 1rem;
        transition: all 0.5s ease-out;
    }
}