.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navigation__item {
    display: flex;
}

.navigation__center-links, .navigation__center-links-container {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.icon-coffee-cup {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('../../assets/icons/coffee-cup.svg');
}

.link-style_with-icon {
    display: flex;
    gap: 0.5rem;
}

/* Tablet */
@media screen and (max-width: 800px) {
    .navigation {
        gap: 2.2rem;
        transition: gap 0.5s ease-in-out;
    }
}