@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src: url('../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/Inter-SemiBold.woff') format('woff'),
         url('../assets/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: italic;
    src: url('../assets/fonts/Inter-SemiBoldItalic.woff2') format('woff2'),
         url('../assets/fonts/Inter-SemiBoldItalic.woff') format('woff'),
         url('../assets/fonts/Inter-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../assets/fonts/Inter-Regular.woff') format('woff'),
         url('../assets/fonts/Inter-Regular.ttf') format('truetype');
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --color-bg-body: 225 212 201;
    --color-bg-container: 102 95 85;
    --color-bg-backdrop: 64 63 61;
    --color-bg-backdrop-alpha: 64 63 61 / 0.80;
    --color-text-dark: 64 63 61;
    --color-text-light: 225 212 201;
    --color-text-accent: 176 144 122;
    --color-border-light: 193 182 173;
    --color-border-dark: 102 95 85;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(var(--color-bg-body));
    color: rgb(var(--color-text-dark));
}

.aria-label_hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    margin: 0 2.5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.heading-1 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 1.05em;
}

.heading-2 {
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 1.25em;
}

.heading-3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25em;
}

.accent-text {
    font-style: italic;
    color: rgb(var(--color-text-accent));
}

.text-medium {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
}

.text-caption {
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 1.4em;
}

.text-link {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5em;
}

.text-burger-link {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25em;
}

