@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src: url('../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/Inter-SemiBold.woff') format('woff'),
         url('../assets/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: italic;
    src: url('../assets/fonts/Inter-SemiBoldItalic.woff2') format('woff2'),
         url('../assets/fonts/Inter-SemiBoldItalic.woff') format('woff'),
         url('../assets/fonts/Inter-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../assets/fonts/Inter-Regular.woff') format('woff'),
         url('../assets/fonts/Inter-Regular.ttf') format('truetype');
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --color-bg-body: 225 212 201;
    --color-bg-container: 102 95 85;
    --color-bg-backdrop: 64 63 61;
    --color-bg-backdrop-alpha: 64 63 61 / 0.80;
    --color-text-dark: 64 63 61;
    --color-text-light: 225 212 201;
    --color-text-accent: 176 144 122;
    --color-border-light: 193 182 173;
    --color-border-dark: 102 95 85;
}

html {
    font-size: 16px;
    width: 1440px;
    margin: auto;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(var(--color-bg-body));
    color: rgb(var(--color-text-dark));
    margin: 1.25rem 0;
}

.aria-label_hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

img {
    display: block;
}

.container {
    margin: 0 2.5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.heading-1 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 1.05em;
}

.heading-2 {
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 1.25em;
}

.heading-3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25em;
}

.accent-text {
    font-style: italic;
    color: rgb(var(--color-text-accent));
}

.text-on-dark {
    color: rgb(var(--color-text-light));
}

.text-medium {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
}

.text-caption {
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 1.4em;
}

.text-link {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5em;
}

.text-burger-link {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25em;
}

.link-style {
    max-width: max-content;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease-out;
}

.link-style:hover {
    border-bottom: 2px solid rgb(var(--color-text-dark));
}

.link-style_on-dark:hover {
    border-bottom: 2px solid rgb(var(--color-text-light));
}

.link-style_current {
    border-bottom: 2px solid rgb(var(--color-text-dark));
}

.link-style_no-link {
    border-bottom: 2px solid transparent;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation {
    display: flex;
    width: 100%;
}

.navigation {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navigation__item {
    display: flex;
}

.navigation__item_position_left {
    margin-right: auto;
}

.navigation__item_position_right {
    margin-left: auto;
}

.icon-coffee-cup {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('../assets/icons/coffee-cup.svg');
}

.link-style_with-icon {
    display: flex;
    gap: 0.5rem;
}

.footer-content {
    background-color: rgba(var(--color-bg-backdrop-alpha));
    border-radius: 2.5rem;
    padding: 6.25rem;
}

.layout-2-column {
    display: flex;
    gap: 8.5rem;
    align-items: flex-start;
}

.social-media-link-container {
    margin-top: 2.5rem;
}

.social-media-links {
    display: flex;
    gap: 0.75rem;
}

.icon-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 9999px;
    border: 1px solid rgb(var(--color-border-light));
    stroke: rgb(var(--color-text-light));
    background-color: transparent;
    transition: all 0.5s ease-out;
}

.icon-social-media:hover {
    stroke: rgb(var(--color-text-dark));
    background-color: rgb(var(--color-bg-body));
}

.footer-column-contacts {
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.contacts-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

.icon-contact-us {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.375rem;
    margin-bottom: -2px;
}

.icon-contact-us_address {
    background-image: url('../assets/icons/contact/contact-pin-alt.svg');
}

.icon-contact-us_phone {
    background-image: url('../assets/icons/contact/contact-phone.svg');
}

.icon-contact-us_open-hours {
    background-image: url('../assets/icons/contact/contact-clock.svg');
}

